{% extends 'layouts\base.html' %}

{% block title %} Tarea {{ todo.title }} {% endblock %}

{% block content %}
<span class="aux_btns">
    <a href="{% url 'todo' %}">Volver atrás</a>
</span>
<ul class="detail">
    <li><b>Título: </b>{{ todo.title }}</li>   
    <li><b>Descripción: </b>{{ todo.description }}</li>
    <li><b>Fecha de creación: </b>{{ todo.date }}</li>
    <li><b>Fecha finalización estimada: </b>{{ todo.estimated_end }}</li>    
    <li><b>Prioridad (1..5): </b>{{ todo.priority }}</li>
</ul>
{% endblock %}