{% extends 'layouts\base.html' %}

{% block title %} Contacto {{ contact.name }} {% endblock %}

{% block content %}
<span class="aux_btns">
    <a href="{% url 'contact' %}">Volver atrás</a>
</span>
<ul class="detail">
    <li><b>Nombre: </b>{{ contact.name }}</li>   
    <li><b>Apellido: </b>{{ contact.last_name }}</li>
    <li><b>Teléfono: </b>{{ contact.phone }}</li>
    <li><b>Celular: </b>{{ contact.mobile }}</li>    
    <li><b>Email: </b>{{ contact.email }}</li>
    <li><b>Compañía: </b>{{ contact.company }}</li>
    <li><b>Fecha de nacimiento: </b>{{ contact.date }}</li>
    <li><b>Notas: </b>{{ contact.notes }}</li>
</ul>
{% endblock %}